NET "USER_CLK" TNM_NET = USER_CLK;
TIMESPEC TS_USER_CLK = PERIOD "USER_CLK" 10.0 ns HIGH 50%;

################################################################################
# USER_CLK
################################################################################
NET  "USER_CLK"                                 IOSTANDARD="LVCMOS33";
NET  "USER_CLK"                                 LOC="AH15";

################################################################################
# GPIO_LED
################################################################################
NET  "GPIO_LED[*]"                              IOSTANDARD="LVCMOS25";
NET  "GPIO_LED[0]"                              LOC="H18";
NET  "GPIO_LED[1]"                              LOC="L18";
NET  "GPIO_LED[2]"                              LOC="G15";
NET  "GPIO_LED[3]"                              LOC="AD26";
NET  "GPIO_LED[4]"                              LOC="G16";
NET  "GPIO_LED[5]"                              LOC="AD25";
NET  "GPIO_LED[6]"                              LOC="AD24";
NET  "GPIO_LED[7]"                              LOC="AE24";

################################################################################
# GPIO_SW
################################################################################
NET  "GPIO_SW_C"                                IOSTANDARD="LVCMOS33";
NET  "GPIO_SW_C"                                LOC="AJ6";

################################################################################
# GPIO_DIP
################################################################################

NET "GPIO_DIP[0]" LOC="U25"   | IOSTANDARD="LVCMOS18";
NET "GPIO_DIP[1]" LOC="AG27"  | IOSTANDARD="LVCMOS25";
NET "GPIO_DIP[2]" LOC="AF25"  | IOSTANDARD="LVCMOS25";
NET "GPIO_DIP[3]" LOC="AF26"  | IOSTANDARD="LVCMOS25";
NET "GPIO_DIP[4]" LOC="AE27"  | IOSTANDARD="LVCMOS25";
NET "GPIO_DIP[5]" LOC="AE26"  | IOSTANDARD="LVCMOS25";
NET "GPIO_DIP[6]" LOC="AC25"  | IOSTANDARD="LVCMOS25";
NET "GPIO_DIP[7]" LOC="AC24"  | IOSTANDARD="LVCMOS25";

################################################################################
# VGA
################################################################################
NET "VGA_DATA_CLK"  LOC="AH18"  | IOSTANDARD="LVCMOS33";
NET "VGA_HSOUT"     LOC="AE7"   | IOSTANDARD="LVCMOS33";
NET "VGA_VSOUT"     LOC="Y6"    | IOSTANDARD="LVCMOS33";

NET "VGA_RED[*]" IOSTANDARD="LVCMOS33";
NET "VGA_RED[7]"   LOC="W11";
NET "VGA_RED[6]"   LOC="Y11";
NET "VGA_RED[5]"   LOC="AG6";
NET "VGA_RED[4]"   LOC="AH5";
NET "VGA_RED[3]"   LOC="V7";
NET "VGA_RED[2]"   LOC="W7";
NET "VGA_RED[1]"   LOC="AF5";
NET "VGA_RED[0]"   LOC="AG5";


NET "VGA_GREEN[*]" IOSTANDARD="LVCMOS33";
NET "VGA_GREEN[7]" LOC="AE6";
NET "VGA_GREEN[6]" LOC="AD6";
NET "VGA_GREEN[5]" LOC="Y7";
NET "VGA_GREEN[4]" LOC="AA6";
NET "VGA_GREEN[3]" LOC="AD5";
NET "VGA_GREEN[2]" LOC="AD4";
NET "VGA_GREEN[1]" LOC="Y9";
NET "VGA_GREEN[0]" LOC="Y8";


NET "VGA_BLUE[*]" IOSTANDARD="LVCMOS33";
NET "VGA_BLUE[7]" LOC="AD7";
NET "VGA_BLUE[6]" LOC="AC7";
NET "VGA_BLUE[5]" LOC="AB5";
NET "VGA_BLUE[4]" LOC="AA5";
NET "VGA_BLUE[3]" LOC="AB7";
NET "VGA_BLUE[2]" LOC="AB6";
NET "VGA_BLUE[1]" LOC="AC5";
NET "VGA_BLUE[0]" LOC="AC4";

################################################################################
# SRAM
################################################################################
NET  "SRAM_CLK"             SLEW="FAST" | DRIVE="12" | IOSTANDARD="LVCMOS33";
NET  "SRAM_CLK"             LOC="G8";    # Bank 20, Vcco=3.3V,  DCI 49.9ohm

NET  "SRAM_CLK_FB"          IOSTANDARD="LVCMOS33";
NET  "SRAM_CLK_FB"          LOC="AG21";  # Bank 4, Vcco=3.3V, No DCI      

NET  "SRAM_CS_B"            IOSTANDARD="LVDCI_33";
NET  "SRAM_CS_B"            LOC="J10";   # Bank 20, Vcco=3.3V,  DCI 49.9ohm      

NET  "SRAM_WE_B"            SLEW="FAST" | DRIVE="12" | IOSTANDARD="LVCMOS33";
NET  "SRAM_WE_B"            LOC="AF20";  # Bank 2, Vcco=3.3V

NET  "SRAM_ADV_LD_B"        IOSTANDARD="LVDCI_33";
NET  "SRAM_ADV_LD_B"        LOC="H8";    # Bank 20, Vcco=3.3V,  DCI 49.9ohm      

NET  "SRAM_MODE"            IOSTANDARD="LVDCI_33";
NET  "SRAM_MODE"            LOC="A13";   # Bank 20, Vcco=3.3V,  DCI 49.9ohm

NET  "SRAM_OE_B"            IOSTANDARD="LVDCI_33";
NET  "SRAM_OE_B"            LOC="B12";   # Bank 20, Vcco=3.3V,  DCI 49.9ohm

NET  "SRAM_BW[*]"           IOSTANDARD="LVDCI_33";
NET  "SRAM_BW[0]"           LOC="D10";   # Bank 20, Vcco=3.3V,  DCI 49.9ohm      
NET  "SRAM_BW[1]"           LOC="D11";   # Bank 20, Vcco=3.3V,  DCI 49.9ohm      
NET  "SRAM_BW[2]"           LOC="J11";   # Bank 20, Vcco=3.3V,  DCI 49.9ohm      
NET  "SRAM_BW[3]"           LOC="K11";   # Bank 20, Vcco=3.3V,  DCI 49.9ohm      

NET  "SRAM_A[*]"           SLEW="FAST" | DRIVE="8" | IOSTANDARD="LVCMOS33";
NET  "SRAM_A[0]"           LOC="K13";   # Bank 1, Vcco=3.3V
NET  "SRAM_A[1]"           LOC="H23";   # Bank 1, Vcco=3.3V
NET  "SRAM_A[2]"           LOC="G23";   # Bank 1, Vcco=3.3V
NET  "SRAM_A[3]"           LOC="H12";   # Bank 1, Vcco=3.3V
NET  "SRAM_A[4]"           LOC="J12";   # Bank 1, Vcco=3.3V
NET  "SRAM_A[5]"           LOC="K22";   # Bank 1, Vcco=3.3V
NET  "SRAM_A[6]"           LOC="K23";   # Bank 1, Vcco=3.3V
NET  "SRAM_A[7]"           LOC="K14";   # Bank 1, Vcco=3.3V
NET  "SRAM_A[8]"           LOC="L14";   # Bank 1, Vcco=3.3V
NET  "SRAM_A[9]"           LOC="H22";   # Bank 1, Vcco=3.3V
NET  "SRAM_A[10]"          LOC="G22";   # Bank 1, Vcco=3.3V
NET  "SRAM_A[11]"          LOC="J15";   # Bank 1, Vcco=3.3V
NET  "SRAM_A[12]"          LOC="K16";   # Bank 1, Vcco=3.3V
NET  "SRAM_A[13]"          LOC="K21";   # Bank 1, Vcco=3.3V
NET  "SRAM_A[14]"          LOC="J22";   # Bank 1, Vcco=3.3V
NET  "SRAM_A[15]"          LOC="L16";   # Bank 1, Vcco=3.3V
NET  "SRAM_A[16]"          LOC="L15";   # Bank 1, Vcco=3.3V
NET  "SRAM_A[17]"          LOC="L20";   # Bank 1, Vcco=3.3V

# Bank 2, Vcco=3.3V
NET  "SRAM_D[0]"   PULLDOWN | SLEW="FAST" | DRIVE="12" | IOSTANDARD="LVCMOS33" | LOC="AD19";
NET  "SRAM_D[1]"   PULLDOWN | SLEW="FAST" | DRIVE="12" | IOSTANDARD="LVCMOS33" | LOC="AE19";
NET  "SRAM_D[2]"   PULLDOWN | SLEW="FAST" | DRIVE="12" | IOSTANDARD="LVCMOS33" | LOC="AE17";
NET  "SRAM_D[3]"   PULLDOWN | SLEW="FAST" | DRIVE="12" | IOSTANDARD="LVCMOS33" | LOC="AF16";
NET  "SRAM_D[4]"   PULLDOWN | SLEW="FAST" | DRIVE="12" | IOSTANDARD="LVCMOS33" | LOC="AD20";
NET  "SRAM_D[5]"   PULLDOWN | SLEW="FAST" | DRIVE="12" | IOSTANDARD="LVCMOS33" | LOC="AE21";
NET  "SRAM_D[6]"   PULLDOWN | SLEW="FAST" | DRIVE="12" | IOSTANDARD="LVCMOS33" | LOC="AE16";
NET  "SRAM_D[7]"   PULLDOWN | SLEW="FAST" | DRIVE="12" | IOSTANDARD="LVCMOS33" | LOC="AF15";

# Bank 4, Vcco=3.3V, No DCI
NET  "SRAM_D[8]"   PULLDOWN | SLEW="FAST" | DRIVE="12" | IOSTANDARD="LVCMOS33" | LOC="AH13";
NET  "SRAM_D[9]"   PULLDOWN | SLEW="FAST" | DRIVE="12" | IOSTANDARD="LVCMOS33" | LOC="AH14";
NET  "SRAM_D[10]"  PULLDOWN | SLEW="FAST" | DRIVE="12" | IOSTANDARD="LVCMOS33" | LOC="AH19";
NET  "SRAM_D[11]"  PULLDOWN | SLEW="FAST" | DRIVE="12" | IOSTANDARD="LVCMOS33" | LOC="AH20";
NET  "SRAM_D[12]"  PULLDOWN | SLEW="FAST" | DRIVE="12" | IOSTANDARD="LVCMOS33" | LOC="AG13";
NET  "SRAM_D[13]"  PULLDOWN | SLEW="FAST" | DRIVE="12" | IOSTANDARD="LVCMOS33" | LOC="AH12";
NET  "SRAM_D[14]"  PULLDOWN | SLEW="FAST" | DRIVE="12" | IOSTANDARD="LVCMOS33" | LOC="AH22";
NET  "SRAM_D[15]"  PULLDOWN | SLEW="FAST" | DRIVE="12" | IOSTANDARD="LVCMOS33" | LOC="AG22";

# Bank 20, Vcco=3.3V,  DCI 49.9ohm
NET  "SRAM_D[16]"  PULLDOWN | IOSTANDARD="LVDCI_33" | LOC="N10";
NET  "SRAM_D[17]"  PULLDOWN | IOSTANDARD="LVDCI_33" | LOC="E13";
NET  "SRAM_D[18]"  PULLDOWN | IOSTANDARD="LVDCI_33" | LOC="E12";
NET  "SRAM_D[19]"  PULLDOWN | IOSTANDARD="LVDCI_33" | LOC="L9";
NET  "SRAM_D[20]"  PULLDOWN | IOSTANDARD="LVDCI_33" | LOC="M10";
NET  "SRAM_D[21]"  PULLDOWN | IOSTANDARD="LVDCI_33" | LOC="E11";
NET  "SRAM_D[22]"  PULLDOWN | IOSTANDARD="LVDCI_33" | LOC="F11";
NET  "SRAM_D[23]"  PULLDOWN | IOSTANDARD="LVDCI_33" | LOC="L8";
NET  "SRAM_D[24]"  PULLDOWN | IOSTANDARD="LVDCI_33" | LOC="M8";
NET  "SRAM_D[25]"  PULLDOWN | IOSTANDARD="LVDCI_33" | LOC="G12";
NET  "SRAM_D[26]"  PULLDOWN | IOSTANDARD="LVDCI_33" | LOC="G11";
NET  "SRAM_D[27]"  PULLDOWN | IOSTANDARD="LVDCI_33" | LOC="C13";
NET  "SRAM_D[28]"  PULLDOWN | IOSTANDARD="LVDCI_33" | LOC="B13";
NET  "SRAM_D[29]"  PULLDOWN | IOSTANDARD="LVDCI_33" | LOC="K9";
NET  "SRAM_D[30]"  PULLDOWN | IOSTANDARD="LVDCI_33" | LOC="K8";
NET  "SRAM_D[31]"  PULLDOWN | IOSTANDARD="LVDCI_33" | LOC="J9";

# Data parity bits are unused
#NET  "SRAM_DQP[0]"           LOC="D12";   # Bank 20, Vcco=3.3V,  DCI 49.9ohm
#NET  "SRAM_DQP[1]"           LOC="C12";   # Bank 20, Vcco=3.3V,  DCI 49.9ohm
#NET  "SRAM_DQP[2]"           LOC="H10";   # Bank 20, Vcco=3.3V,  DCI 49.9ohm
#NET  "SRAM_DQP[3]"           LOC="H9";    # Bank 20, Vcco=3.3V,  DCI 49.9ohm

################################################################################
# DVI
################################################################################
NET  "DVI_D[*]"               IOSTANDARD="LVCMOS33";
NET  "DVI_D[0]"               LOC="AB8";
NET  "DVI_D[1]"               LOC="AC8";
NET  "DVI_D[2]"               LOC="AN12";
NET  "DVI_D[3]"               LOC="AP12";
NET  "DVI_D[4]"               LOC="AA9";
NET  "DVI_D[5]"               LOC="AA8";
NET  "DVI_D[6]"               LOC="AM13";
NET  "DVI_D[7]"               LOC="AN13";
NET  "DVI_D[8]"               LOC="AA10";
NET  "DVI_D[9]"               LOC="AB10";
NET  "DVI_D[10]"              LOC="AP14";
NET  "DVI_D[11]"              LOC="AN14";

NET  "DVI_DE"                 LOC="AE8";
NET  "DVI_DE"                 IOSTANDARD="LVCMOS33";
NET  "DVI_H"                  LOC="AM12";
NET  "DVI_H"                  IOSTANDARD="LVCMOS33";
NET  "DVI_RESET_B"            LOC="AK6";
NET  "DVI_RESET_B"            IOSTANDARD="LVCMOS33";
NET  "DVI_V"                  LOC="AM11";
NET  "DVI_V"                  IOSTANDARD="LVCMOS33";
NET  "DVI_XCLK_N"             LOC="AL10";
NET  "DVI_XCLK_N"             IOSTANDARD="LVCMOS33";
NET  "DVI_XCLK_P"             LOC="AL11";
NET  "DVI_XCLK_P"             IOSTANDARD="LVCMOS33";

################################################################################
# Video I2C Bus
################################################################################
NET "IIC_SCL_VIDEO"           LOC="U27";
NET "IIC_SCL_VIDEO"           IOSTANDARD="LVCMOS18";
NET "IIC_SDA_VIDEO"           LOC="T29";
NET "IIC_SDA_VIDEO"           IOSTANDARD="LVCMOS18";
