
NET GPIO_DIP<0> LOC="U25";
NET GPIO_DIP<0> IOSTANDARD="LVCMOS25";
NET GPIO_DIP<1> LOC="AG27";
NET GPIO_DIP<1> IOSTANDARD="LVCMOS25";
NET GPIO_DIP<2> LOC="AF25";
NET GPIO_DIP<2> IOSTANDARD="LVCMOS25";
NET GPIO_DIP<3> LOC="AF26";
NET GPIO_DIP<3> IOSTANDARD="LVCMOS25";
NET GPIO_DIP<4> LOC="AE27";
NET GPIO_DIP<4> IOSTANDARD="LVCMOS25";
NET GPIO_DIP<5> LOC="AE26";
NET GPIO_DIP<5> IOSTANDARD="LVCMOS25";
NET GPIO_DIP<6> LOC="AC25";
NET GPIO_DIP<6> IOSTANDARD="LVCMOS25";
NET GPIO_DIP<7> LOC="AC24";
NET GPIO_DIP<7> IOSTANDARD="LVCMOS25";

NET GPIO_LED<0> LOC="H18";
NET GPIO_LED<0> IOSTANDARD="LVCMOS25";
NET GPIO_LED<1> LOC="L18";
NET GPIO_LED<1> IOSTANDARD="LVCMOS25";
NET GPIO_LED<2> LOC="G15";
NET GPIO_LED<2> IOSTANDARD="LVCMOS25";
NET GPIO_LED<3> LOC="AD26";
NET GPIO_LED<3> IOSTANDARD="LVCMOS25";
NET GPIO_LED<4> LOC="G16";
NET GPIO_LED<4> IOSTANDARD="LVCMOS25";
NET GPIO_LED<5> LOC="AD25";
NET GPIO_LED<5> IOSTANDARD="LVCMOS25";
NET GPIO_LED<6> LOC="AD24";
NET GPIO_LED<6> IOSTANDARD="LVCMOS25";
NET GPIO_LED<7> LOC="AE24";
NET GPIO_LED<7> IOSTANDARD="LVCMOS25";

